<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Initial GiftCard Template</title>
</head>
<style>
    @font-face {
        font-family: 'Neuron';
        src: url('Neuron-Regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'Neuron';
        src: url('Neuron-Bold.woff') format('woff');
        font-weight: bold;
        font-style: normal;
    }


    body {
        font-weight: normal;
        font-size: 1.3em;
        font-family: 'Neuron', serif;
    }

    h3 {
        font-size: 1.8em;
    }

    h5 {
        font-size: 1.2em;
        line-height: 1.8em;
    }

    .padded-content {
        padding: 0 20px 0 20px;
    }

    .barcode-box {
        text-align: center;
        position: absolute;
        bottom: 40px;
        left: 0;
        right: 0;
    }

    .barcode-box > div {
        font-size: 18px;
        background-color: #fff;
        text-align: center;
        margin: 0 auto;
    }
</style>
<body>
<img src="interticket.png" height="50"/>

<div class="padded-content">
    <img src="kartyakep.png" height="200" align="right"/>
    <h3>{{.CardName}}</h3>

    <h5>
        Felhasználható összeg: {{.FormattedAmount}}
        <br/>
        KÓD: {{.Barcode}}
    </h5>

    <h5>Érvényesség: {{.Validity}}</h5>


    <p>
        Az ajándékkártya felhasználató a {{.PartnerName}} jegyeire,
        melyek az <a href="https://{{.PartnerWebsite}}">{{.PartnerWebsite}}</a> weboldalon vásárolhatók meg.
    </p>

    <p>
        Ha a vásárolandó jegyek ára magasabb, mint az ajándékkártya felhasználható egyenlege,
        a fennmaradó összeg az oldalon felkínált egyéb fizetési módok bármelyikével kifizethető.
    </p>

    <p>
        Egy vásárlás során több ajándékkártya is felhasználható.<br/>
        A fel nem használt összeg a későbbiekben levásárolható.
    </p>

    <br/>
    <p>
        Kérjük, vigyázzon az ajándékkártyára, és az azon szereplő kódra, mert azt pótolni nem lehet,
        illetve ahhoz hozzáférve azt illetéktelen a maga javára felhasználhatja.
        Az ajándékkártya készpénzre nem váltható.
    </p>

    <h5>Vásárlás ideje: {{.PaymentDate}}</h5>

</div>

<div class="barcode-box">
    <img src="barcode.png"/><br/>
    <div>{{.Barcode}}</div>
</div>

</body>
</html>